.cont{
	width: 100%;
	height: 100%;
	background: white;
	margin: 0 auto;
	padding: 0;
}

.clockBox{
	width: 80%;
	height: 500px;
	background: url(stuff/pom.jpg) no-repeat center;
	position: absolute;
	border-radius: 25px;
	top: 50px;
	left: 10%;
}

.clock{
	width: 30%;
	text-align: center;
	color: black;
	text-shadow: 3px 3px white;
	font-family: impact;
	font-size: 50px;
	position: relative;
	top: 30px;
	left: 35%;
}

.divFunctionBut{
	position: relative;
	width: 60%;
	height: 50px;
	left: 20%;
	top: 0%;
}

.divTimeBut{
	position: relative;
	width: 100%;
	height: 35px;
	left: 0;
}

.functionButtonStart{
	position: relative;
	font-size: 20px;
	width: 33.33333333%;
	height: 30px;
	border: 1px solid;
	background-color: #00cc00;
	transition-duration: 0.4s;
	float: left;
}

.functionButtonStart:hover{
	background-color: #009900;
	transition-duration: 0.4s;
}

.functionButtonStop{
	position: relative;
	font-size: 20px;
	width: 33.33333333%;
	height: 30px;
	border: 1px solid;
	background-color: #ff0000;
	transition-duration: 0.4s;
	float: left;
}

.functionButtonStop:hover{
	background-color: #cc0000;
	transition-duration: 0.4s;
}

.functionButtonReset{
	position: relative;
	font-size: 20px;
	width: 33.33333333%;
	height: 30px;
	border: 1px solid;
	background-color: #bec0b8;
	transition-duration: 0.4s;
	
}

.functionButtonReset:hover{
	background-color: #a9aba0;
	transition-duration: 0.4s;
}

.timeButton{
	position: relative;
	font-size:30px;
	background-color: #33CC33;
	transition-duration: 0.4s;
	border: 1px solid;
	border-color: #248f24;
	width: 33.33333333%;
	height: 50px;
	float: left;
}

.timeButton:hover{
	background-color: #248f24;
}


.myProgress{
	width: 100%;
	background-color: grey;
}

.bar{
	width: 0;
	height: 30px;
	background-color: teal;
	position: absolute;
}
